# Sentinel Hub credentials
SH_CLIENT_ID='Your Client ID Here'
SH_CLIENT_SECRET='Your Client Secret Here'

# Google Earth Engine project ID
GEE_PROJECT_ID='Your Project ID Here'
# Model path (relative to backend folder)
MODEL_PATH='flood_detection/Your_Model_File.pt'